<%= form_with(model: @transaction, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :seller_id %>

    <%= f.collection_select :seller_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :buyer_id, value: @user2.id %>

  <%= f.submit "Create transaction", class: "btn btn-block btn-outline-secondary" %>
<% end %>
