<!-- Form transaction start -->
<%= form_with(model: @transaction, local: true) do |f| %>
<!-- Form transaction end -->

  <!-- Label and input for seller_id start -->
  <!-- Input for seller_id start -->
  <%= f.hidden_field :seller_id, value: @user.id %>
  <!-- Input for seller_id end -->
  <!-- Label and input for seller_id end -->

  <!-- Label and input for buyer_id start -->
  <div class="form-group">
    <%= f.label :buyer_id %>

    <!-- Input for buyer_id start -->
    <%= f.text_field :buyer_id, class: "form-control" %>
    <!-- Input for buyer_id end -->
  </div>
  <!-- Label and input for buyer_id end -->

  <%= f.submit "Create transaction", class: "btn btn-block btn-outline-secondary" %>
<% end %>
